
<!-- Table 'dev_httpbrige_devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if MESSAGE!=""#]
<div class="alert alert-success">[#MESSAGE#]</div>
[#endif MESSAGE#]
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TYPE#] style="color:red;font-weight:bold"[#endif#]>
	Тип устройства:
 </label>
 <div class="col-lg-4">
	 <select class="form-control" name="type">
	   <option value="rm"[#if TYPE=="rm"#] selected[#endif#]>RM(1,2)
	   <option value="a1"[#if TYPE=="a1"#] selected[#endif#]>A1 e-Air
	   <option value="sp2"[#if TYPE=="sp2"#] selected[#endif#]>SP2
	   <option value="spmini"[#if TYPE=="spmini"#] selected[#endif#]>SP mini
	 </select>
 </div>
</div>
<!-- TITLE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_TITLE#>:
 (*)
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
</div>
<!-- MAC (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_MAC#] style="color:red;font-weight:bold"[#endif#]>
 MAC:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="mac" value="[#MAC#]" id="mac"></div>
</div>
[#if TYPE=="rm"#]
<div class="form-group">
 <label class="col-lg-3 control-label">
Управление:
 </label>
 <div class="col-lg-4">
	<a href="?data_source=<#DATA_SOURCE#>&id=<#ID#>&view_mode=<#VIEW_MODE#>&mode=learn" class="btn btn-default">Обучить коду</a>
	<a href="?data_source=<#DATA_SOURCE#>&id=<#ID#>&view_mode=<#VIEW_MODE#>&mode=save_code" class="btn btn-default">Сохранить код</a>
	<input type="text" class="form-control" name="code_name" id="code_name">Имя команды (ввести перед сохранением кода)
 </div>
</div>
[#endif#]
<!-- LINKED_OBJECT (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_OBJECT#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_object" value="[#LINKED_OBJECT#]" id="linked_object"></div>
</div>
[#if TYPE!="rm" && TYPE!="a1"#]
<!-- LINKED_PROPERTY (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_PROPERTY#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_PROPERTY#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_property" value="[#LINKED_PROPERTY#]" id="linked_property"></div>
</div>
<!-- LINKED_METHOD (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_METHOD#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_METHOD#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_method" value="[#LINKED_METHOD#]" id="linked_method"></div>
</div>
[#endif#]
<!-- UPDATED (datetime) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_UPDATED#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_UPDATED#>:
 </label>
 <div class="col-lg-4">
<input class="form-control" id="disabledInput" type="text" placeholder="[#UPDATED#]" disabled>
 </div>
</div>
[#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="linked_method"#]
<div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
        </div>
</div>
</fieldset>
</form>
